/* periwinkle: #9494FF, orangered: #FF8B60 
   header: #cee3f8
   header border: #5f99cf
   link: #369;
*/


html {
	-webkit-user-select: auto;
}

body {
	padding: 0;
	margin: 0;
}

#wrapper {
	padding: 50px;
}

.img-wrapper {
	float: left;
	margin-right: 20px;
}

.subreddit {
	min-height: 300px;
    margin-bottom: 100px;
}