/* periwinkle: #9494FF, orangered: #FF8B60 
   header: #cee3f8
   header border: #5f99cf
   link: #369;
*/


html {
    -webkit-user-select: auto;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

#header {
    height: 70px;
    padding-top: 10px;
    text-align: center;
    background-color: #cee3f8;
    border-bottom: rgb(68, 111, 151) 1px solid;
    width: 100%;
    box-shadow: 0px 0px 10px 2px #444;
    position: relative;
}

#reddit-logo {
    height: 50px;
}

#wrapper {
}

.title {
    color: #FF8B60;
    text-shadow: 1px 1px 0px black;
    font-weight: bold;
    font-size: 2.7em;
    margin-bottom: 15px;
    margin-left: 50px;
}

.img-wrapper {
    float: left;
    margin-right: 20px;
}

.subreddit {
    /* The container isn't sized to the image height for some reason. The bottom pad is basically controlled by min-height. */
    min-height: 350px;
    padding: 25px 50px 0px; 
    background: url('../res/grid_noise.png');
}

.subreddit:nth-child(2n+1) {
    background-color: #5f99cf;
}

.subreddit:nth-child(2n) {
    background-color: #777;
    box-shadow: 0px 0px 10px 2px #444;
    position: relative;
}

.list-wrapper > div { /* Don't use internal spotify classes, I don't trust them. */
    height: 250px !important;
}